@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

.work-sans-font {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
body{
    
}
.feature-cards,.feature-list {
    max-width: 1440px;
    margin: 0 auto;

}

/* shared style */
.display-flex{
    display: flex;
}
.common-btn{
    color: #FFFFFF;
    background-color: #FF900E;
    font-size: 1.25rem;
    font-weight: 600;
    border-radius: 8px;
    padding: 20px 25px;
    border: none;
}
 .bg-color{
    background-color: rgba(255, 144, 14, 0.1);
 }
.font-style-01{
    color: rgba(19, 19, 19, 1);
    font-size: 2.8rem;
    font-weight: 700;
}
.bold-heading45{
    font-size: 2.8rem;
    font-weight: 700;
}

/* header/nav bar style */
.nav-section{
    justify-content: space-between;
    align-items: center;
}
.list-item{
    margin-right: 30px;
}


.nav-list li{
    list-style: none;
}
.nav-list ul a{
    text-decoration: none;
}
/* banner style */
.bannertitle{
    margin-top: 0;
}

.nav-section, .banner-section{
    max-width: 1440px;
    margin: 0 auto;
    
}
.banner-section{
    text-align: center;
}
.bannerimg{
    width: 100%;
    /* max-width: 1440px;
    border-radius: 8px;
    margin-top: 45px;
    margin-bottom: 45px;
    /* padding-bottom: 45px;
    padding-top: 45px; */ 
    /* padding: 30px; */
    margin: 0 auto;
    
}
.banner-content{
    text-align: center;
    max-width: 850px;
    margin: 0 auto;
}
.bannertitle{
    font-size: 4rem;
    font-weight: 700;
    margin-bottom: 10px;
}

/* feature section style */

.feature-list{
    align-items: center;
    gap: 50px;
    padding: 50px 30px;
}

.feature-images{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 10px;
}

/* feature card style */

.feature-cards{
    gap: 100px;
}
.featurd-btn{
    margin-top: -80px;
    margin-left: -80px;
    border-radius: 8px;
}
.feature-btn{
    font-size: 4rem;
    font-weight: 700;
}

.card-container-title{
    border-left: 4px solid #FF900E;
    padding-left: 15px;

}

.feature-card{
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    padding: 5px 20px 10px 20px;
}
/* fact card style */
.fact-section{
    text-align: center;
}
.fact-card{
    gap: 100px;
    justify-content: center;
}




.sponsors{
    text-align: center;
}
.sponsors-img{
    justify-content: center;
    gap: 100px;
}


footer{
    text-align: center;
    max-width: 1440px;
    margin: 0 auto;
}