@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

.work-sans-font {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
/* body{
    max-width: 1440px;
    margin: 0 auto;
} */

/* shared style */
.display-flex{
    display: flex;
}
.common-btn{
    color: #FFFFFF;
    background-color: #FF900E;
    font-size: 1.25rem;
    font-weight: 600;
    border-radius: 8px;
    padding: 20px 25px;
    border: none;
}
 .bg-color{
    background-color: rgba(255, 144, 14, 0.1);
 }
.font-style-01{
    color: rgba(19, 19, 19, 1);
    font-size: 2.8rem;
    font-weight: 700;
}

/* header/nav bar style */
.nav-section{
    justify-content: space-between;
    align-items: center;
}
.list-item{
    margin-right: 30px;
}


.nav-list li{
    list-style: none;
}
.nav-list ul a{
    text-decoration: none;
}
/* banner style */
.bannertitle{
    margin-top: 0;
}

.nav-section, .banner-section{
    max-width: 1440px;
    margin: 0 auto;
    
}
.banner-section{
    text-align: center;
}
.bannerimg{
    width: 100%;
    border-radius: 8px;
    /* margin-top: 45px;
    margin-bottom: 45px; */
    padding-bottom: 45px;
    padding-top: 45px;
}
.banner-content{
    text-align: center;
    max-width: 850px;
    margin: 0 auto;
}
.bannertitle{
    font-size: 4rem;
    font-weight: 700;
    margin-bottom: 10px;
}